/* &display=swap */
/* 
@font-face {
	font-family: "...";
	src: url("../fonts") format("woff2"), url("../fonts") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
} 
*/

@import "null.css";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);

body {
	background-color: rgb(0, 0, 94);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 15px;
}
[class*="__container"]{
	max-width: 1280px;
	margin: 0 auto;
	padding: 15px;
}
.header {
	background-color: blue;
	border-radius: 50px 50px 0 0;
	margin: 0 0 30px 0;
}
.header__menu {
	max-width: 200px;
	padding: 15px;
	margin: 0 auto;
}
.header__menu li {
	border-radius: 50%;
	border-top: 3px solid rgb(102, 94, 214);
	border-bottom: 3px solid rgb(102, 94, 214);
	text-align: center;
	background-color: rgb(5, 5, 189);
}
.header__menu li:not(:last-child){
	margin: 0 0 5px 0;
}
.header__menu li:hover {
	background-color: rgb(1, 1, 167);
}
.header__menu li a{
	color: rgb(155, 155, 155);
	padding: 20px 10px;
	display: inline-block;
}
.header__menu li:hover a{
	text-decoration: underline;
}



.main {
	background-color: blue;
	border-radius: 0 0 50px 50px;
	padding: 25px;
}
.game {
	display: none;
}
.game:target{
	display: block;
}
.game__start{
	height: 100px;
	width: 150px;
	background-color: aqua;
}
.game__start p{
	text-align: center;
	line-height: 100px;
	color: red;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 900;
}
.game__block-one{
	background-color: aqua;
	height: 100px;
	width: 100px;
	visibility: hidden;
}
.game__start:hover + .game__block-one,
.game__block-one:hover{
	visibility: visible;
}
.game__block-two {
	background-color: aqua;
	height: 50px;
	visibility: hidden;
}
.game__block-one:hover +
.game__block-two,
.game__block-two:hover{
	visibility: visible;
}
.game__block-two-short{
	background-color: aqua;
	width: 50px;
	height: 50px;
	margin: 0 0 0 auto;
	visibility: hidden;
}
.game__block-two:hover + .game__block-two-short,
.game__block-two-short:hover{
	visibility: visible;
}
.game__block-three {
	background-color: aqua;
	width: 30px;
	height: 100px;
	margin: 0 0 0 auto;
	visibility: hidden;
}
.game__block-two-short:hover + .game__block-three,
.game__block-three:hover{
	visibility: visible;
}
.game__block-four {
	background-color: aqua;
	width: 100%;
	height: 20px;
	margin: 0 0 0 auto;
	visibility: hidden;
}
.game__block-three:hover + .game__block-four,
.game__block-four:hover{
	visibility: visible;
} 
.game__block-five {
	background-color: aqua;
	height: 50px;
	width: 10px;
	visibility: hidden;
}
.game__block-four:hover + .game__block-five,
.game__block-five:hover{
	visibility: visible;
}
.game__block-six {
	background-color: aqua;
	height: 5px;
	width: 50px;
	visibility: hidden;
}
.game__block-five:hover + .game__block-six,
.game__block-six:hover{
	visibility: visible;
}
.game__block-seven {
	background-color: red;
	width: 5px;
	height: 10px;
	margin: 0 0 0 45px;
	visibility: hidden;
}
.game__block-six:hover + .game__block-seven,
.game__block-seven:hover{
	visibility: visible;
}
.game__block-text{
	font-size: 50px;
	text-align: center;
	color: aliceblue;
	letter-spacing: 3px;
	visibility: hidden;
	height: 150px;
}
.game__block-seven:hover + .game__block-text,
.game__block-text:hover{
	visibility: visible;
}


.lesson-9 {
	max-width: 830px;
	margin: 0 auto;
	background-color: #fff;
	padding: 10px;
	font-family: "Lato";
	font-size: 16px;
	color: #424551;
	display: none;
}
.lesson-9:target{
	display: block;
}
.lesson-9__title {
	font-size: 46px;
	line-height: 1.3;
	font-weight: 900;
	color: #1E212C;
	margin: 0 0 26px 0;
}
.lesson-9__time {
	margin: 0 0 40px 0;
}
.time {
	line-height: 1.6;
	color: #787A80;
}
.time__calendar {
	background: url(../img/icons/Calendar.svg) 0 5px no-repeat;
	padding: 0 0 0 24px;
}
.time__time {
	background: url(../img/icons/Union.svg) 0 5px no-repeat;
	padding: 0 0 0 24px;
}
.lesson-9__img{
	margin: 0 0 60px 0;
}
.lesson-9__img img{
	max-width: 100%;
}
.lesson-9__text-block p:first-of-type,
.lesson-9__text-block p:nth-child(4){
	line-height: 1.5;
	color: #1E212C;
	font-weight: 700;
}
.lesson-9__text-block p:nth-child(3),
.lesson-9__text-block p:nth-child(4){
	margin: 0 0 48px 0;
}
.lesson-9__text-block p:nth-child(4){
	background: url(../img/icons/braces.svg) 0 0 no-repeat;
	padding: 0 0 0 58px;
}
.lesson-9__text-block *:not(:last-child){
	margin: 0 0 24px 0;
}
.lesson-9__text-block *:not(:first-child, :nth-child(4)){
	line-height: 1.6;
}
.lesson-9__list li:not(:last-child){
	margin: 0 0 4px 0;
}
.lesson-9__list li{
	background: url(../img/icons/check.svg) 0 5px no-repeat;
	padding: 0 0 0 32px;
}
.lesson-9__icons p{
	font-weight: 700;
	line-height: 1.6;
	color: #1E212C;
}
.lesson-9__icons p a img{
	padding: 0 0 0 12px;
}


.article {
	display: none;
	color: rgb(189, 189, 189);
	font-size: 18px;
}
.article:target{
	display: block;
}
.article__img {
	
}
.article__img img{
	max-width: 100%;
}
.article__title {
	font-size: 42px;
	text-align: center;
	line-height: 1.5;
}
.article__text-block {
	line-height: 1.3;
	text-align: justify;
}
.article__text-block h4{
	font-size: 36px;
	text-align: center;
	line-height: 2;
}
.article__text-block > *:not(:last-child){
	margin: 0 0 20px 0;
}
.article__text-block ul li{
	text-align: center;
	text-decoration: underline;
	line-height: 1.5;
	font-size: 20px;
}
.text-block__img{
	display: block;
}
.text-block__img img{
	width: 100%;
	border-radius: 15px;
}


